@keyframes ResultAnim {

   from {

      transform: translateY(100vh);
   }

   to {

      transform: translateY(0);
   }

}

.resultAnim {

   animation-name     : ResultAnim;
   animation-duration : .3s;
   animation-fill-mode: backwards;
}