@keyframes ResultScreenAnim {

   from {

      transform: translateY(50%);
   }

   to {

      transform: translateY(0);
   }

}

.resultAnim {

   animation-name     : ResultScreenAnim;
   animation-duration : .3s;
   animation-fill-mode: backwards;
}