////
#calculator {

   display       : flex;
   flex-direction: column;
   align-items   : center;

   height: 100%;
   width : 100%;

   padding      : clamp(1rem, 5vw, 5rem);
   padding-right: 0;
   padding-left : 0;

   .calculatorContent {

      display        : flex;
      flex-direction : column;
      align-items    : center;
      justify-content: space-around;

      width: 100%;
   }

   .fields {

      width: 100%;

      .calculatoirField {

         background   : #fff;
         border-radius: 2rem;
         box-shadow   : 0 0 50px #0003;

         display       : flex;
         flex-direction: column;

         width: min(90%, 50rem);

         margin : clamp(2rem, 2vw, 5rem) auto;
         padding: clamp(1rem, 2vw, 5rem);

         .box {

            display        : flex;
            flex-direction : column;
            align-items    : center;
            justify-content: space-around;

            height: 100%;

            margin: auto;


            p {

               color      : var(--primary-color);
               font-size  : clamp(1.5rem, 2vw, 4rem);
               font-weight: 600;

            }

            span {

               font-size: clamp(1.2rem, 2vw, 3rem) !important;
               font-size: var(--primary-color);


               opacity: .5;
            }

            input {

               border: none;
               color : var(--primary-color);

               font-size  : clamp(2rem, 15vw, 10rem);
               font-weight: 700;

               text-align: center;

               width: clamp(6rem, 60vw, 20rem);

               &::placeholder {

                  color      : var(--primary-color);
                  text-shadow: 0 0 10px #0003;
               }
            }

            .buttonBox {

               display: flex;

               button {

                  background   : var(--white);
                  border-radius: 100%;
                  border       : solid 2px #11566620;

                  cursor: pointer;

                  display        : flex;
                  align-items    : center;
                  justify-content: center;

                  height: clamp(3rem, 10vw, 4rem);
                  width : clamp(3rem, 10vw, 4rem);

                  margin: 0 .5rem;


                  img {

                     width     : 50%;
                     transition: width .4s;
                  }

                  &:hover {

                     img {

                        width: 40%;
                     }
                  }
               }
            }
         }
      }
   }

   .buttomContainer {

      width          : 100%;
      display        : flex;
      justify-content: center;

      #calculatorButton {

         background   : var(--primary-color);
         border       : none;
         border-radius: 2rem;
         box-shadow   : 0 0 50px #0005;

         cursor: pointer;

         color    : var(--white);
         font-size: 2rem;

         width: min(90%, 50rem);

         padding: 2rem 0;

         transition: background .4s;

         &:hover {

            background: var(--primary-color-darker);
         }
      }
   }
}