//
#calculator {

   display        : flex;
   flex-direction : column;
   align-items    : center;
   justify-content: space-around;

   width : 100%;
   min-height: 40rem;

   padding: clamp(1.6rem, 5vw, 20rem);
   padding-right: 0;
   padding-left: 0;

   .fields {

      width: 100%;

      .calculatoirField {

         background   : #fff;
         border-radius: 1rem;
         box-shadow   : 0 0 50px #0003;

         display       : flex;
         flex-direction: column;
         align-items   : center;
         height        : clamp(15rem, 56vw, 25rem);
         width         : min(90%, 50rem);

         margin : 2rem auto;

         .box {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            height: 90%;

            margin: auto;


            p {

               color      : var(--primary-color);
               font-size  : 1.8rem;
               font-weight: 600;

               line-height: 1.5rem;
            }

            span {

               font-size  : 1.5rem !important;
               font-size  : var(--primary-color);
               line-height: 1.5rem;

               opacity: .5;
            }

            input {

               border: none;
               color : var(--primary-color);

               font-size  : clamp(4rem, 24vw, 10rem);
               font-weight: 700;

               text-align: center;

               width: clamp(6rem, 60vw, 20rem);

               &::placeholder {

                  color      : var(--primary-color);
                  text-shadow: 0 0 10px #0003;
               }
            }

            .buttonBox {

               display: flex;

               button {

                  background   : var(--white);
                  border-radius: 100%;
                  border       : solid 2px #11566620;

                  cursor: pointer;

                  display        : flex;
                  align-items    : center;
                  justify-content: center;

                  height: clamp(3rem, 10vw, 4rem);
                  width : clamp(3rem, 10vw, 4rem);

                  margin: 0 .5rem;


                  img {

                     width     : 50%;
                     transition: width .4s;
                  }

                  &:hover {

                     img {

                        width: 40%;
                     }
                  }
               }
            }
         }


      }
   }

   #calculatorButton {

      background     : var(--primary-color);
      border         : none;
      border-radius  : 2rem;
      backdrop-filter: blur(5px);
      box-shadow     : 0 0 50px #0005;

      cursor: pointer;

      color    : var(--white);
      font-size: 2rem;

      width : min(90%, 50rem);
      padding: 2rem 0;

      transition: background .4s;

      &:hover {

         background: var(--primary-color-darker);
      }
   }
}