header {

   background: var(--white);

   display        : flex;
   align-items    : center;
   justify-content: center;

   width : 100%;
   height: 7rem;

   h1 {

      color    : var(--primary-color);
      font-size: 2.5rem;
      font-weight: 600;
   }
}