 //     
 .resultData {

    border-radius: 100%;

    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;

    font-weight: 700;
    text-align : center;

    height: clamp(10rem, 50vw, 20rem);
    width : clamp(10rem, 50vw, 20rem);

    padding      : 1rem;
    margin-bottom: 4rem;

    p {

       font-size    : clamp(1.5rem, 8vw, 4rem);
       margin-bottom: 1rem;
    }

    span {

       font-size: clamp(1rem, 4vw, 2rem);
    }
 }