 //     
.resultData {

         border-radius: 100%;

         display        : flex;
         flex-direction : column;
         align-items    : center;
         justify-content: center;

         font-size  : 4rem;
         font-weight: 700;
         text-align : center;

         height: 20rem;
         width : 20rem;

         padding   : 1rem;
         margin    : auto;
         margin-top: 2rem;

         p {

            margin-bottom: 1rem;
         }

         span {

            font-size: 2rem;
         }
      }