 //     
 .resultData {

    border-radius: 100%;

    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;

    font-size  : clamp(3rem, 5vw, 4rem);
    font-weight: 700;
    text-align : center;

    height: clamp(15rem, 50vw, 20rem);
    width : clamp(15rem, 50vw, 20rem);

    padding   : 1rem;
    margin    : auto;
    margin-top: 2rem;

    p {

       margin-bottom: 1rem;
    }

    span {

       font-size: clamp(1.5rem, 5vw, 3rem);
    }
 }