@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color       : rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  outline   : 0;
  padding   : 0;
  margin    : 0;
}

body {
  margin     : 0;
  padding    : 0;
  background : var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size  : 2rem;
  line-height: 3rem;
}

h1,
h2,
h3 {

  margin: 1rem 0;
}

input,
button {

  border-radius: 1rem;
}

.container {

  background   : #fff;
  border-radius: 1rem;
  box-shadow: 0 0 60px #0003;

  width: min(95%, 65rem);

  margin : 2rem auto;
  padding: 20px;
}

.block {

  font-size: clamp(1rem, 7vw, 2.5rem);

  display              : grid;
  grid-template-columns: 1fr 1fr;

  padding: 1rem;

  width: 100%;

  .imc {

    display       : flex;
    flex-direction: column;

  }

  ul {

    width: 100%;

    li {

      list-style: none;
      text-align: left;
    }
  }
}

span {

  color          : #fff;
  font-size      : 1.5rem;
  display        : flex;
  justify-content: center;
  align-items    : center;

  margin: auto;

  a {
    color: #eefa;
    margin-left: .5rem;
  }
}

@media (max-width: 500px) {

  .block {

    grid-template-columns: 1fr;
    grid-template-rows   : 1fr 1fr;

    padding: .5rem;
  }
}

form input,
form label,
form button {
  display      : block;
  width        : 90%;
  margin-bottom: 10px;
  margin       : 0 auto;
}

form input {

  border: solid 2px var(--primary-color);

  font-size: 24px;
  height   : 50px;
  padding  : 0 20px;
}

form input:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: .3rem;
  border: none;
}

form button {
  border     : none;
  background : var(--primary-color);
  color      : #fff;
  font-size  : 18px;
  font-weight: 700;
  height     : 50px;
  cursor     : pointer;
  margin-top : 1rem;
}

form button:hover {
  background: var(--primary-color-darker);
}

.alert {

  height    : 3rem;
  width     : 90%;
  margin    : 0 auto;
  margin-top: 2rem;

  .alertSpan {

    color    : red;
    font-size: 1.3rem;
    position : relative;
    right    : 0;
  }
}

.result {

  min-height: 40px;
  width     : 90%;
  margin    : 2rem auto;

  .imcblock {

    margin: 2rem 0;
  }
}