.imcTable {

   display        : flex;
   flex-direction : column;
   justify-content: flex-end;
   width          : 100%;
   min-height     : 40%;
}

table {

   color      : var(--primary-color);
   font-weight: 600;

   width : 100%;

   margin-top: 2rem;

   td+td {

      text-align: right;
   }
}

.tabelaTitle {

   color      : var(--primary-color-darker);
   font-size  : 2.4rem;
   font-weight: 800;

   width: 100%;
}