 ///////////////////////////////////
 @media (max-width:768px) {

    .gridBox {

       height: 100%;
    }

    .resultAlt {

       display: none;
       height : 0;
       width  : 0;
    }

    .calculatorContent {

       height: 80vh;
    }

 }

 ///////////////////////////////////
 @media (min-width:768px) {

    .gridBox {

       display              : grid;
       grid-template-columns: 1fr 1fr;
       gap                  : clamp(4rem, 5vw, 8rem);

       padding-top: clamp(2rem, 2vw, 5rem);

       #calculator {


          height : 100%;
          padding: 0;

          .fields {

             display        : flex;
             flex-direction : column;
             align-items    : flex-end;
             justify-content: center;
          }

          .calculatoirField {

             margin       : 0;
             margin-bottom: clamp(1rem, 2vw, 5rem);
          }
       }

       ///////////////////////////////////

       .resultAlt {

          display        : flex;
          flex-direction : column;
          justify-content: flex-start;

          height: 100%;
          width : 100%;

          @import 'deskResult';
       }
    }
 }